ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #0074D9; /* Blue background color */
    border: 2px solid black;
}

nav ul {
    display: flex; /* Display list items horizontally */
}

nav li {
    margin-right: 20px; /* Add spacing between list items */
}

nav a {
    text-decoration: none; /* Remove underlines from links */
    color: white; /* Default text color */
    transition: color 0.3s; /* Smooth color transition on hover */
}

/* Change text color to yellow when hovering over the link */
nav a:hover {
    color: yellow;
}